<?xml version="1.0"?>
<model>
	<name>Simple Differential Drive Robot (ROS)</name>
	<version>1.0</version>
	<sdf version='1.4'>model.sdf</sdf>

	<author>
		<name>Dustin Franklin</name>
		<email>dustinf@nvidia.com</email>
	</author>

	<description>
		Simple Differential Drive Robot for testing purposes with ROS integration.
	</description>
</model>